<!doctype html>
<html lang="en" data-framework="angularjs">
  <head>
  <title>D3.js with Angular.js</title>
  <meta charset="utf-8">
  <link href="./public/css/static.css" media="all" rel="stylesheet" type="text/css" />  
</head>
<body ng-app="angD3" >
  <div ng-controller="d3donut" class="d3donut">
  <div class="tableform">
      <section class="form">
        <form ng-submit="pushJson()">
          <label>Angular.js</label>
          <input placeholder="Numbers Only" name="angular" ng-model="angular" />
          <label>D3.js</label>
          <input type="text" placeholder="Numbers Only" name="d3" ng-model="d3"/> 
          <div class="clearfix"></div> 
          <button class="button" type="submit"> Push</button>  
        </form>             
      </section>
      <section class="repeat">
        <table>
          <tr>
              <th>Angular.js</th>
              <th>D3.js</th>
              <th>Remove</th>
          </tr>
          <tr ng-repeat="jsonObj in jsonObjs">          
              <td>{{jsonObj.angular}}</td>
              <td>{{jsonObj.d3}}</td>
              <td><a href="javascript:void(0)" ng-click="removeJson($index)" > Delete </a></td>
          </tr>
        </table>
      </section>
    </div>
    <div class="d3chart">
      <d3chart></d3chart>
    </div>
  </div>
  <script type="text/javascript" src="./public/js/angular.min.js"></script>
  <script type="text/javascript" src="./public/js/d3.v3.min.js"></script>  
  <script type="text/javascript" src="./public/js/static.js"></script>
  <script type="text/javascript" src="./public/js/controller.js"></script>
  <script type="text/javascript" src="./public/js/directive.js"></script>
  <script type="text/javascript" src="./public/js/service.js"></script>
</body>
</html>